* {
  margin: 0px;
  padding: 0px;
}
body{
    overflow-x: hidden;
}

#container {
margin-left: 1px;  
padding-right: 5px;
width: 100vw;
  display: flex;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */

}
#container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.list {
  border: 1px solid black;
  min-height: 100vh;
  width: 360px;
  margin: auto;
  box-shadow: 0 10px 10px 1px black;
  text-align: center;
}
.addTaskBtn{
    height: 40px;
    width: 50%;
    margin: 10px auto;
    font-size: 20px;
    border-radius: 5px;
}
.addTaskBtn:hover{
    background-color:gray;
}
.hidden{
    transition: scale 300ms ease-in-out;
    scale: 0.01;
}
.form{
    position: absolute;
    width: 360px;
    height: 450px;
    top: 50px;
    background-color: white;
    box-shadow: 0 10px 10px 0 black;
    border: 2px solid black;
}
label, input, select {
    display: block;
    margin: auto;   
}
label{
    padding-top: 20px;
    font-size: 24px;
}
input{
    height: 30px;
    width: 200px;
    font-size: 22px;
    padding: 1px;
    text-align: center;
}
textarea{
    width: 200px;
    height: 100px;
    font-size: 18px;
}
#submitTaskBtn{
    width: 200px;
    margin-top: 20px;
    height: 40px;
    font-size: 22px;
}
.visible{
    transition: scale 300ms ease-in-out;
    scale: 1;
}
.taskDiv{
   display: grid;
   grid-template-columns: 2fr 3fr  1fr 1fr;
   grid-template-areas: "name date  check del";
   border-bottom: 1px solid black;
   border-top: 1px solid black;
   padding-top: 10px;
   font-size: 20px;
}
#checkTask:hover {
    cursor: pointer;
    scale: 1.5
}
#delTask:hover {
    cursor: pointer;
    scale: 1.5;
}
.infoDiv{
    display: grid;
    grid-template-columns: 2fr 2fr  1fr 1fr;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}
.checked{
    transition: background-color 1000ms;
    background-color: rgb(10, 212, 10);
}
.xFormClose {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10px;
    font-weight: bold;
}
.tabsDiv{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    margin-left: 2px;
    margin-right: 2px;
}
.activeTab{
    transition: box-shadow 300ms;
    box-shadow: 0 1px 1px 1px black;
    transition: scale 300ms ease-in-out;
    scale: 1.2;
}
.expired{
    transition: background-color 10r00ms;
    background-color: rgb(255, 2, 2);
}